# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FirebaseTokenService.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\projects\fsharp\rpgpt\FirebaseTokenService\.idea\.idea.FirebaseTokenService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
